This project is an example of using a framework (created by myself) for a web application in java using a server like tomcat or wildfly. @sprint is the code of the framework, the rest is the real project. It's a web application of a simple ticketing for plane travel